RandomCodigos/data_augmentation/__pycache__/
*.pyc
yolov8x.pt
*.pyc
*.pyc
runs/detect/LPCharFinal_x/weights/last.pt
runs/detect/LPCharFinal_x/weights/best.pt
runs/detect/LPCharFinal_l/weights/best.pt
runs/detect/LPCharFinal_l/weights/last.pt
runs/detect/License_Plates_1280_x/weights/last.pt
runs/detect/License_Plates_1280_x/weights/best.pt
runs/detect/PT_LP_Characters_x/weights/best.pt
runs/detect/PT_LP_Characters_s/weights/last.pt
runs/detect/PT_LP_Characters_s/weights/best.pt
runs/detect/LPCharFinal_x3/weights/best.pt
yolov8x-seg.pt
